
.ImportResults .clickableRow {
    cursor: pointer;
}

.ImportResults .clickableRow:hover {
    box-shadow: 0 0 4px #555 inset;
    background-color: #e5eaff;
}

.ImportResults .clickableRow:active {
    box-shadow: 0 0 8px #333 inset;
    background-color: #ffb3b5;
}