.EditableLabel {
    width: 100%;
}
.EditableLabel.notValid {
    background-color: #cb816a !important;
}

.EditableLabel.deleted {
    color: #5d3544;
    opacity: 0.5;
}

input:not([type='checkbox']).EditableLabel,
select.EditableLabel {
    background-color: #cddfe8;
}
input:not([type='checkbox']).EditableLabel:hover,
select.EditableLabel:hover {
    box-shadow: 0 0 4px #000;
}

input:not([type='checkbox']).EditableLabel:focus,
select.EditableLabel:focus {
    box-shadow: 0 0 10px #51013d;
}