.EditableTable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.EditableTable .content {
    width: 100%;
    height: calc(100% - 42px);
    position: absolute;
}

.EditableTable .controls {
    width: 100%;
    height: 30px;
    background-color: #e4dfe8;
    z-index: 200;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow: visible;
    box-shadow: 0 1px 2px #999;
}
.EditableTable .controls:hover {
    box-shadow: 0 1px 4px #333;
}

.controls .tableName {
    margin-left: 50px;
    line-height: 30px;
    font-size: 110%;
    font-weight: 600;
    color: #003f16;
}

.controls .itemsSelected {
    margin-left: 40px;
    line-height: 30px;
    font-size: 110%;
    font-weight: 200;
    color: #373f3f;
}

.controls .itemsSelected button {
    color: #FF9800;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.controls .itemsSelected button:hover {
    text-shadow: 0 0 4px #666;
}

.controls > button {
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: right;
    border-radius: 50%;
    margin-right: 16px;
}

.controls>button:hover {
    border: none;
    box-shadow: 1px 1px 16px #000;
}
.controls>button.change {
    background-color: #FF9800;
}
.controls>button.cancel {
    background-color: #cb3549;
}
.controls>button.done {
    background-color: #019c00;
}
.controls>button.refresh {
    background-color: #54669c;
}